<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hello</title>
  </head>
  <body>
    <h1>Test page</h1>
    <form action="draw" method="post" enctype="multipart/form-data">
      <input type="file" name="imgFile">
      <input type="submit">
    </form>
  </body>
</html>
